[z_calibration]
nozzle_xy_position: 232,345
#   A X, Y coordinate (e.g. 100,100) of the nozzle, clicking on the Z endstop.
switch_xy_position: 230,322
#   A X, Y coordinate (e.g. 100,100) of the probe's switch body, clicking on
#   the Z endstop.
bed_xy_position: 175, 175
#   a X, Y coordinate (e.g. 100,100) where the print surface (e.g. the center
#   point) is probed. These coordinates will be adapted by the
#   probe's X and Y offsets. The default is the relative_reference_index
#   of the configured bed_mesh, if configured. It's possible to change the relative
#   reference index at runtime or use the GCode argument BED_POSITION of CALIBRATE_Z.
switch_offset: 0.57
#   The trigger point offset of the used mag-probe switch.
#   Larger values will position the nozzle closer to the bed.
#   This needs to be find out manually. More on this later
#   in this section..
max_deviation: 0.750
samples: 3
#samples_tolerance: 0.01
clearance: 10
speed: 50 # X,Y movements
probing_first_fast: true
#probing_speed: 20
#probing_second_speed: 5
#probing_retract_dist: 2
start_gcode: ATTACH_PROBE
#before_switch_gcode:
end_gcode: DOCK_PROBE
